.markNumeralOD {
  background-color: #089baa;
  color: white;
  font-size: 40px;
}

.tituloPreguntaOD {
  font-size: 20px;
  padding-top: 30px;
  font-family: 'Questrial', serif;
  font-weight: normal;
}

.anioPreguntaOD {
  font-size: 15px;
  padding-top: 0px;
  font-family: 'Questrial', serif;
  font-weight: normal;
}